.wrapper {
  display: flex;
  max-width: 40px;
  position: relative;
}
.subMenu{
  border: solid black 2px;
  background-color: white;
  position: absolute;
  width: 100px;
  /* margin-top: 40px; */
}

