.header {
  display: flax;
  width: 100%;
  height: 20%;
}
.leftSide {
  position: relative;
  width: 25%;
}
.middleSide {
  position: relative;
  width: 50%;
}
.rightSide {
  position: relative;
  width: 25%;
}
